<nav>
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/deposit">Deposit</a></li>
      <li><a href="/crypto-deposit">Deposit with Crypto</a></li>
      <li><a href="/profile">Profile</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
  