<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crypto Deposit</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <div class="container">
    <h2>Deposit with Crypto</h2>
    <form action="/crypto-deposit" method="POST">
      <div class="inputBox">
        <input type="number" name="cryptoAmount" required>
        <label>Crypto Amount</label>
      </div>
      <button type="submit">Deposit</button>
    </form>
  </div>
</body>
</html>
