<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/public/styles/styles.css">
</head>
<body>
  <div class="container">
    <form action="/login" method="POST" class="form">
      <h2>Crash Game - Login</h2>
      <div class="inputBox">
        <input type="email" name="email" required>
        <label>Email</label>
      </div>
      <div class="inputBox">
        <input type="password" name="password" required>
        <label>Password</label>
      </div>
      <input type="submit" value="Login">
      <p>Don't have an account? <a href="/register">Register</a></p>
      <p>Forgot your password? <a href="/forgot-password">Reset Password</a></p>
    </form>
  </div>
</body>
</html>
